* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: rgb(13 17 23);
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

div#main-div {
	width: 94%;

	margin: auto;
	margin-top: 0px;
	margin-bottom: 10px;

	background-color: rgba(0,0,0,.25);

  	border: 1px solid #404160;
    border-radius: 8px;
}

div#infos {
    background-color: rgba(0,0,0,.25);

  	border-bottom: 1px solid #404160;
    
    padding-bottom: 25px;
}

div#infos span {
    color: rgb(243, 46, 89);

    font-weight: 600;
}

div#infos img {
    display: block;

    margin-left: auto;
    margin-right: auto;

    padding: 10px;

    width: 50%;
}

div#infos p {
    width: 64%;
    
    margin-left: auto;
    margin-right: auto;

    color: #fff;

	text-align: center;
	font: 14px/1.25rem Nunito,sans-serif;
}

div#player {
    width: 97%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

div#player iframe {
    width: 95vw;
    height: 56.25vw;
    max-height: 100vh;
    max-width: 177.78vh;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    border: none;
}

@media screen and (max-width: 980px) {
    div#infos img {
        width: 80%;
    }
    div#infos p {
        width: 80%;
    }
}